*~
*.blg
*.aux
*.bbl
*.log
*.fff
*.lof
*.dvi
sturgeon-fluidigm-one-column-main.pdf
*synctex.gz
sturgeon-fluidigm-main.pdf
*.fdb_latexmk
*.fls
.DS_Store

cache
knitr.sty
sturgeon-fluidigm-main-concordance.tex
sturgeon-fluidigm-main.tex